<html>

<head>
    <title>Fulfillment</title>
    <meta charset="utf-8">
    <!--   <meta name="viewport" content="width=device-width, initial-scale=1"> -->

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

    <script>
        // Or with jQuery

        $(document).ready(function() {
            $('.modal').modal();
        });
    </script>

    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">POS</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="home.html">Checkout</a></li>
                <li><a href="fulfillment.html">Fulfillment</a></li>
                <li><a href="stats.html">Stats</a></li>
            </ul>
        </div>
    </nav>
</head>

<body>
    <script th:inline="javascript">
    /*<![CDATA[*/
    var jsOrders = [[${orders}]];

    /*]]>*/
    </script>

    <div class="container">
        <h1>Order Fulfillment</h1>

        <ul class="list-group" id="catalogue-table">

            <table id="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Sent Date</th>
                        <th>Received Date</th>
                    </tr>
                </thead>
            </table>
            <form th:each="shipment : ${orders}">
                <div class="row">
                    <div class="input-field">
                        <input hidden placeholder="Store ID" id="store" name="placed" th:value="${shipment.store.id}" type="text">
                    </div>
                    <div class="input-field">
                        <input hidden placeholder="Vendor ID" id="vendor" name="placed" th:value="${shipment.vendor.id}" type="text">
                    </div>
                    <div class="input-field col s2">
                        <input disabled th:id="'shipment' + ${shipment.id}" name="id" th:value="${shipment.id}"></td>
                    </div>
                    <div class="input-field col s3">
                        <input placeholder="Placed Date" th:id="'placed' + ${shipment.id}" name="placed" th:value="${shipment.placedDate}" type="text" class="datepicker">
                    </div>

                    <div class="input-field col s3">
                        <input placeholder="Received Date" th:id="'received' + ${shipment.id}" name="received" th:value="${shipment.receivedDate}" type="text" class="datepicker">
                    </div>
                    <div class="col s3">
                        <button class="btn waves-effect waves-light red" th:onclick="'updateShipment(' + ${shipment.id} + ');'">Update
                                  <i class="material-icons right">send</i>
                                </button>
                    </div>
                </div>
            </form>
        </ul>

    </div>

</body>
<footer>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.datepicker').datepicker();
        });

        function getNewOrder() {
            $('#new-order').modal('open');
        }

        function updateShipment(shipmentID){
            var placedDate = document.getElementById('placed'+shipmentID).value;
            var receivedDate = document.getElementById('received'+shipmentID).value;
            var myArr = [];
            myArr.push(shipmentID);
            myArr.push(placedDate);
            myArr.push(receivedDate);

            $.ajax({
                type:  'PUT',
                data:  JSON.stringify(myArr),
                dataType: "text",
                contentType: "application/json; charset=utf-8",
                url: "shipment",
                success:  function (data) {
                    location.reload();
                }, error: function(data){
                    console.log("ERROR: ", data);
                }
            });
        }
    </script>

</footer>

</html>
