<html>

<head>
    <title>Checkout</title>
    <meta charset="utf-8">
    <!--   <meta name="viewport" content="width=device-width, initial-scale=1"> -->

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

    <script>
        // Or with jQuery

        $(document).ready(function() {
            $('.modal').modal();
        });
    </script>

    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">POS</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="home.html">Checkout</a></li>
                <li><a href="fulfillment.html">Fulfillment</a></li>
                <li><a href="stats.html">Stats</a></li>
            </ul>
        </div>
    </nav>
</head>

<body>
    <script th:inline="javascript">
    /*<![CDATA[*/
    var jsCart = [];
    var jsTotal = 0;
    var jsItems = [[${items}]];
    var jsStore = [[${store}]];

    /*]]>*/
    </script>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red pulse">
            <i class="large material-icons">shopping_cart</i>
          </a>
        <ul>
            <li><a class="btn-floating red tooltipped" data-position="left" data-tooltip="Return cart" onclick="getReturn()"><i class="material-icons">remove_shopping_cart</i></a></li>
            <li><a class="btn-floating green tooltipped" data-position="left" data-tooltip="Checkout cart" onclick="getTotal()"><i class="material-icons">add_shopping_cart</i></a></li>
        </ul>
    </div>

    <div class="container" id="main">
        <div id="catalogue" class="modal">
            <div class="modal-content">
                <ul class="list-group" id="catalogue-table">

                    <table id="table">
                        <thead>
                            <tr>
                                <th>Number</th>
                                <th>Item</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item : ${items}">

                                <td th:text="${item.id}"></td>
                                <td th:text="${item.name}"></td>
                                <td th:text="${item.regularPrice}"></td>
                                <!-- <td th:input value="${item.name}" id="items_name" type="text" class="validate"></td> -->
                                <!-- <td th:input value="${item.regularPrice}" id="items_price" type="text" class="validate"></td> -->
                                <td><button class="btn waves-effect waves-light red" th:onclick="'addItem(' + ${item.id} + ');'"><i class="material-icons">add</i></button>
                                </td>
                                </form>
                            </tr>
                        </tbody>
                    </table>
                </ul>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Back</a>
            </div>

        </div>

        <div id="total" class="modal">
            <div class="modal-content">
                <div class="container">
                    <h4>Total</h4>
                    <div class="row">
                        <div class="col s3">Subtotal:</div>
                        <div class="col s3" id="subtotal-text">$1.00</div>
                    </div>
                    <div class="row">
                        <div class="col s3">Tax:</div>
                        <div class="col s3" id="tax-text">$1.00</div>
                    </div>
                    <div class="row">
                        <div class="col s3">Total:</div>
                        <div class="col s3" id="total-text">$1.00</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Back</a>
                <a class="waves-effect waves-red btn red" onclick="checkoutCart()">Checkout</a>
            </div>
        </div>

        <div id="return" class="modal">
            <form action="#">
                <div class="modal-content">
                    <div class="container">
                        <h4>Return these items?</h4>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Back</a>
                    <a class="waves-effect waves-red btn red" onclick="returnCart()">Return</a>
                </div>
            </form>
        </div>


        <h1>Checkout</h1>
        <div class="row">
            <div class="col s9">
                <div class="row">
                    <div class="input-field col s6">
                        <input placeholder="Item Number" name="add_item_field" type="text" class="validate"></input>
                    </div>
                    <div class="col s3">
                        <button class="btn waves-effect waves-light" id="memes" name="add_item_button">
                        <i class="material-icons">add</i>
                    </button>
                    </div>
                </div>
                <form id="cart">
                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="Store Number" id="store-number" name="store" type="text" class="validate">
                        </div>
                        <div class="input-field col s6">
                            <input placeholder="Customer Number" id="cust-number" name="customer" type="text" class="validate">
                        </div>
                    </div>
                    <select id="discount-field" name="discount-field">
                      <option value="0" selected>No Discount</option>
                      <td  th:each="discount : ${discounts}">
                      <option th:value="${discount.percentage}" th:text="${discount.percentage} + '% Discount'"></option>
                    </td>
                    </select>
                    <label>Discounts</label>



                    <ul class="list-group">
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Qty</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <div id="checkout-list">
                                <tr>
                                    <tbody id="checkout-body">
                                        <!-- Where the meme magic comes to life -->
                                    </tbody>
                                </tr>
                            </div>
                        </table>

                    </ul>

                </form>
            </div>
            <div class="row">
                <div class="col s3">
                    <a class="waves-effect waves-light btn modal-trigger" href="#catalogue">Catalogue</a>
                    <div class="input-field col s12">

                    </div>
                    <!-- <a class="waves-effect waves-light btn modal-trigger" href="#discounts">Discounts</a> -->
                </div>
            </div>
        </div>
    </div>

</body>
<footer>
    <script type="text/javascript">
        const stateTax = .08;
        $(document).ready(function() {
            $("button[name='add_item_button']").click(function() {
                let itemId = $("input[name='add_item_field']").val();
                addItem(itemId);
            });
            $('.fixed-action-btn').floatingActionButton();
            $('.tooltipped').tooltip();
            $('select').formSelect();

        });

        function resetCart(){
            document.getElementById('checkout-body').innerHTML = "";
            var newCart = jsCart;
            jsCart = [];
            for(i=0; i<newCart.length;i++){
                addItem(newCart[i].productID);
            }
        }

        function removeItem(cartId) {
            jsCart.splice(cartId, 1);
            jsTotal = 0;
            resetCart();
        }

        function addItem(itemId) {
            $('#checkout-body').append(
                `
                <tr id="` + jsCart.length + `">
                    <td><input disabled value="` + jsItems[itemId].name + `" placeholder="Name" type="text" class="validate"></td>
                    <td><input value="1" placeholder="Qty" type="text" class="validate"></td>
                    <td><input disabled value="` + jsItems[itemId].regularPrice + `" placeholder="Price" type="text" class="validate"></td>
                    <td><a class="btn-floating grey waves-red" onclick="removeItem(` + jsCart.length +
                `)"><i class="material-icons">delete_forever</i></a></td>
                </tr>
                <input type="hidden" name="country" value="Norway">
                `
            );

            var myTransaction = new Object();
            myTransaction.quantityOfItem = 1;
            myTransaction.productID = parseInt(itemId);
            myTransaction.total = jsItems[itemId].regularPrice;
            myTransaction.store = jsStore;

            jsCart.push(myTransaction);
        }

        function getTotal() {
            var subtotal = 0;
            var discount = $('select[name=discount-field]').val() * .01;
            console.log("discount: " + discount);

            for(var i=0; i<jsCart.length; i++) {
                let qty = jsCart[i].quantityOfItem;
                let price = jsCart[i].total;
                let current = qty * (price - (price * discount));
                subtotal = subtotal + current;
            }
            var tax = subtotal * stateTax;
            var total = subtotal + tax;
            total = parseFloat(Math.round(total * 100) / 100).toFixed(2);
            tax = parseFloat(Math.round(tax * 100) / 100).toFixed(2);
            subtotal = parseFloat(Math.round(subtotal * 100) / 100).toFixed(2);
            jsTotal = total;
            $("#subtotal-text").text("$" + subtotal);
            $("#tax-text").text("$" + tax);
            $("#total-text").text("$" + total);

            $('#total').modal('open');
        }

        function getReturn() {
            $('#return').modal('open');
        }

        function checkoutCart(){
            getTotal();

            var storeNum = document.getElementById('store-number').value;
            var custNum = document.getElementById('cust-number').value;
            var discountNum = document.getElementById('discount-field').selectedIndex;
            var myArr = [];
            myArr.push(storeNum);
            myArr.push(custNum);
            myArr.push(jsTotal);
            myArr.push(discountNum);
            myArr.push(jsCart);

            console.log("myArr: " + myArr);

            $.ajax({
                type:  'POST',
                data:  JSON.stringify(myArr),
                dataType: "text",
                contentType: "application/json; charset=utf-8",
                url: "checkout",
                success:  function (data) {
                    location.reload();
                }, error: function(data){
                    console.log("ERROR: ", data);
                }
            });
        }

        function returnCart() {
            $.ajax({
                type:  'POST',
                data:  JSON.stringify(jsCart),
                dataType: "text",
                contentType: "application/json; charset=utf-8",
                url: "return",
                success:  function (data) {
                    location.reload();
                }, error: function(data){
                    console.log("ERROR: ", data);
                }
            });
        }
    </script>

</footer>

</html>
