<html>

<head>
    <title>Checkout</title>
    <meta charset="utf-8">
    <!--   <meta name="viewport" content="width=device-width, initial-scale=1"> -->

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

    <script>
        // Or with jQuery

        $(document).ready(function() {
            $('.modal').modal();
        });
    </script>

    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">POS</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="home.html">Checkout</a></li>
                <li><a href="fulfillment.html">Fulfillment</a></li>
                <li><a href="stats.html">Stats</a></li>
            </ul>
        </div>
    </nav>
</head>

<body>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red pulse">
            <i class="large material-icons">shopping_cart</i>
          </a>
        <ul>
            <li><a class="btn-floating red tooltipped" data-position="left" data-tooltip="Return cart" onclick="getReturn()"><i class="material-icons">remove_shopping_cart</i></a></li>
            <li><a class="btn-floating green tooltipped" data-position="left" data-tooltip="Checkout cart" onclick="getTotal()"><i class="material-icons">add_shopping_cart</i></a></li>
        </ul>
    </div>

    <div class="container" id="main">
        <div id="catalogue" class="modal">
            <div class="modal-content">
                <ul class="list-group" id="catalogue-table">

                    <table id="table">
                        <thead>
                            <tr>
                                <th>Number</th>
                                <th>Item</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="item : ${items}">

                                <td th:text="${item.id}"></td>
                                <td th:text="${item.name}"></td>
                                <td th:text="${item.regularPrice}"></td>
                                <!-- <td th:input value="${item.name}" id="items_name" type="text" class="validate"></td> -->
                                <!-- <td th:input value="${item.regularPrice}" id="items_price" type="text" class="validate"></td> -->
                                <td><button class="btn waves-effect waves-light red" th:onclick="'addItem(' + ${item.id} + ');'"><i class="material-icons">add</i></button>
                                </td>
                                </form>
                            </tr>
                        </tbody>
                    </table>
                </ul>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Back</a>
            </div>

        </div>


        <!-- <div id="discounts" class="modal">
            <div class="modal-content">
                <div class="container">
                    <h4>Discounts</h4>
                    <div class="row">
                        <div class="col s12"><button class="btn waves-effect waves-light green modal-close" type="submit" name="submit" value="10" onclick="setDiscount(10)"><i class="material-icons left">attach_money</i>Senior Discount 10%</button></div><br>
                        <div class="col s12"><button class="btn waves-effect waves-light green modal-close" type="submit" name="submit" value="15" onclick="setDiscount(15)"><i class="material-icons left">attach_money</i>Employee Discount 15%</button></div><br>
                        <div class="col s12"><button class="btn waves-effect waves-light green modal-close" type="submit" name="submit" value="20" onclick="setDiscount(20)"><i class="material-icons left">attach_money</i>Teacher Discount 20%</button></div><br>
                        <div class="col s12"><button class="btn waves-effect waves-light green modal-close" type="submit" name="submit" value="25" onclick="setDiscount(25)"><i class="material-icons left">attach_money</i>Military Discount 25%</button></div><br><br>

                        <div class="col s4"><button class="btn waves-effect waves-light green modal-close" type="submit" name="submit" value="30" onclick="setDiscount(30)"><i class="material-icons left">attach_money</i>30%</button></div>
                        <div class="col s4"><button class="btn waves-effect waves-light green modal-close" type="submit" name="submit" value="35" onclick="setDiscount(35)"><i class="material-icons left">attach_money</i>35%</button></div>
                        <div class="col s4"><button class="btn waves-effect waves-light green modal-close" type="submit" name="submit" value="40" onclick="setDiscount(40)"><i class="material-icons left">attach_money</i>40%</button></div><br>
                        <div class="col s4"><button class="btn waves-effect waves-light green modal-close" type="submit" name="submit" value="45" onclick="setDiscount(45)"><i class="material-icons left">attach_money</i>45%</button></div>
                        <div class="col s4"><button class="btn waves-effect waves-light green modal-close" type="submit" name="submit" value="50" onclick="setDiscount(50)"><i class="material-icons left">attach_money</i>50%</button></div>
                        <div class="col s4"><button class="btn waves-effect waves-light green modal-close" type="submit" name="submit" value="55" onclick="setDiscount(55)"><i class="material-icons left">attach_money</i>55%</button></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Back</a>
            </div>
        </div> -->

        <div id="total" class="modal">
            <div class="modal-content">
                <div class="container">
                    <h4>Total</h4>
                    <div class="row">
                        <div class="col s3">Subtotal:</div>
                        <div class="col s3" id="subtotal-text">$1.00</div>
                    </div>
                    <div class="row">
                        <div class="col s3">Tax:</div>
                        <div class="col s3" id="tax-text">$1.00</div>
                    </div>
                    <div class="row">
                        <div class="col s3">Total:</div>
                        <div class="col s3" id="total-text">$1.00</div>
                    </div>
                    <div class="input-field col s12">
                        <select>
                            <option value="credit" selected>Credit</option>
                            <option value="cash">Cash</option>
                          </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Back</a>
                <a class="waves-effect waves-red btn red" onclick="checkoutCart()">Checkout</a>
            </div>
        </div>

        <div id="return" class="modal">
            <form action="#">
                <div class="modal-content">
                    <div class="container">
                        <h4>Return these items?</h4>
                        <div class="input-field col s12">
                            <select>
                            <option value="credit" selected>Credit</option>
                            <option value="cash">Cash</option>
                          </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Back</a>
                    <a class="waves-effect waves-red btn red" onclick="returnCart()">Return</a>
                </div>
            </form>
        </div>


        <h1>Checkout</h1>
        <div class="row">
            <div class="col s9">
                <div class="row">
                    <div class="input-field col s6">
                        <input name="add_item_field" type="text" class="validate"></input>
                    </div>
                    <div class="col s3">
                        <button class="btn waves-effect waves-light" id="memes" name="add_item_button">
                        <i class="material-icons">add</i>
                    </button>
                    </div>
                </div>
                <form id="cart">

                    <select id="discount-field" name="discount-field">
                      <option value="0" selected>No Discount</option>
                      <td  th:each="discount : ${discounts}">
                      <option th:value="${discount.percentage}" th:text="${discount.percentage} + '% Discount'"></option>
                    </td>
                    </select>
                    <label>Discounts</label>

                    <ul class="list-group">
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Qty</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <div id="checkout-list">
                                <tr>
                                    <tbody id="checkout-body">
                                            <!-- Where the meme magic comes to life -->
                                    </tbody>
                                </tr>
                            </div>
                        </table>

                    </ul>

                </form>
            </div>
            <div class="row">
                <div class="col s3">
                    <a class="waves-effect waves-light btn modal-trigger" href="#catalogue">Catalogue</a>
                    <div class="input-field col s12">

                    </div>
                    <!-- <a class="waves-effect waves-light btn modal-trigger" href="#discounts">Discounts</a> -->
                </div>
            </div>
        </div>
    </div>

</body>
<footer>
    <script type="text/javascript">
        var maxCart = 0;
        const stateTax = .08;
        $(document).ready(function() {
            $("button[name='add_item_button']").click(function() {
                let itemId = $("input[name='add_item_field']").val();
                addItem(itemId);
            });
            $('.fixed-action-btn').floatingActionButton();
            $('.tooltipped').tooltip();
            $('select').formSelect();

        });

        function removeItem(cartId) {
            $('#item' + cartId).remove();
        }

        function addItem(itemId) {
            let name = $('#table tr:eq(' + itemId + ') td:eq(1)').text();
            let price = $('#table tr:eq(' + itemId + ') td:eq(2)').text();
            $('#checkout-body').append(
                `
                <tr id="item` + maxCart + ` name="item` + maxCart + `">
                    <td><input value="` + name + `" placeholder="Name" id="name` + maxCart +
                `"  name="name` + maxCart + `" type="text" class="validate"></td>
                    <td><input value="1" placeholder="Qty" id="qty` + maxCart +
                `" name="qty` + maxCart + `" type="text" class="validate"></td>
                    <td><input value="` + price + `" placeholder="Price" id="price` + maxCart +
                `" name="price` + maxCart + `" type="text" class="validate"></td>
                    <td><a class="btn-floating grey waves-red" onclick="removeItem(` + maxCart +
                `)"><i class="material-icons">delete_forever</i></a></td>
                </tr>
                `
            );
            maxCart = maxCart + 1;
        }

        function getTotal() {
            var subtotal = 0;
            var discount = $('select[name=discount-field]').val() * .01;

            for (i = 0; i < maxCart; i++) {
                if ($('#name' + i).length) {
                    let qty = document.getElementById("qty" + i).value;
                    let price = document.getElementById("price" + i).value;
                    let current = qty * (price - (price * discount));
                    subtotal = subtotal + current;
                }
            }
            var tax = subtotal * stateTax;
            var total = subtotal + tax;
            total = parseFloat(Math.round(total * 100) / 100).toFixed(2);
            tax = parseFloat(Math.round(tax * 100) / 100).toFixed(2);
            subtotal = parseFloat(Math.round(subtotal * 100) / 100).toFixed(2);
            $("#subtotal-text").text("$" + subtotal);
            $("#tax-text").text("$" + tax);
            $("#total-text").text("$" + total);

            $('#total').modal('open');
        }

        function getReturn() {
            $('#return').modal('open');
        }

        function setDiscount(aDiscount) {
            discount = aDiscount * .01;
            $("#discount-text").text(aDiscount + "% discount applied!");
            $("#discount-field").value(aDiscount);
        }

        function checkoutCart(){
            $('#cart').attr('method','post')
            $('#cart').attr('action', 'checkout')
            $('#cart').submit()
        }

        function returnCart() {
            $('#cart').attr('target', '')
            $('#cart').attr('action', (window.location.hostname + '/return'))
            $('#cart').submit()
        }
    </script>

</footer>

</html>
