<html>

<head>
    <title>Brands</title>
    <meta charset="utf-8">
    <!--   <meta name="viewport" content="width=device-width, initial-scale=1"> -->

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

    <script>
        // Or with jQuery

        $(document).ready(function() {
            $('.modal').modal();
        });
    </script>

    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo center">POS</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="home.html">Checkout</a></li>
                <li><a href="return.html">Return</a></li>
            </ul>
        </div>
    </nav>
</head>

<body>

    <div class="container">
        <div id="catalogue" class="modal">
            <div class="modal-content">
                <ul class="list-group">

                    <table>
                        <thead>
                            <tr>
                                <th>Number</th>
                                <th>Item</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tr th:each="item : ${items}">
                            <li class="list-group-item">
                                <tbody>
                                    <tr>
                                        <form>
                                            <div th:if="${item != null}">
                                               <td th:text="${item.id}"></td>
                                            </div>
                                            <div th:unless="${item == null}">
                                            </div>
                                            <!-- <td th:text="#item.getParameter('id')"></td> -->
                                            <td th:input value="${item.name}" id="items_name" type="text" class="validate"></td>
                                            <td th:input value="${item.price}" id="items_price" type="text" class="validate"></td>
                                            <td><button class="btn waves-effect waves-light red" type="submit" name="submit" value="${items.id}" action="/add_item"><i class="material-icons">add</i></button>
                                            </td>
                                        </form>
                                    </tr>
                                </tbody>
                            </li>
                        </tr>
                    </table>
                </ul>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Back</a>
            </div>

        </div>


        <div id="discounts" class="modal">
            <div class="modal-content">
                <div class="container">
                    <h4>Discounts</h4>
                    <div class="row">
                        <div class="col s12"><button class="btn waves-effect waves-light green modal-close" type="submit" name="submit" value="10" action="/add_discount"><i class="material-icons left">attach_money</i>Senior Discount 10%</button></div><br>
                        <div class="col s12"><button class="btn waves-effect waves-light green modal-close" type="submit" name="submit" value="15" action="/add_discount"><i class="material-icons left">attach_money</i>Employee Discount 15%</button></div><br>
                        <div class="col s12"><button class="btn waves-effect waves-light green modal-close" type="submit" name="submit" value="20" action="/add_discount"><i class="material-icons left">attach_money</i>Teacher Discount 20%</button></div><br>
                        <div class="col s12"><button class="btn waves-effect waves-light green modal-close" type="submit" name="submit" value="25" action="/add_discount"><i class="material-icons left">attach_money</i>Military Discount 25%</button></div><br><br>
                        <div class="col s4"><button class="btn waves-effect waves-light green modal-close" type="submit" name="submit" value="30" action="/add_discount"><i class="material-icons left">attach_money</i>30%</button></div>
                        <div class="col s4"><button class="btn waves-effect waves-light green modal-close" type="submit" name="submit" value="35" action="/add_discount"><i class="material-icons left">attach_money</i>35%</button></div>
                        <div class="col s4"><button class="btn waves-effect waves-light green modal-close" type="submit" name="submit" value="40" action="/add_discount"><i class="material-icons left">attach_money</i>40%</button></div><br>
                        <div class="col s4"><button class="btn waves-effect waves-light green modal-close" type="submit" name="submit" value="45" action="/add_discount"><i class="material-icons left">attach_money</i>45%</button></div>
                        <div class="col s4"><button class="btn waves-effect waves-light green modal-close" type="submit" name="submit" value="50" action="/add_discount"><i class="material-icons left">attach_money</i>50%</button></div>
                        <div class="col s4"><button class="btn waves-effect waves-light green modal-close" type="submit" name="submit" value="55" action="/add_discount"><i class="material-icons left">attach_money</i>55%</button></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Back</a>
            </div>
        </div>
        <div id="total" class="modal">
            <div class="modal-content">
                <div class="container">
                    <h4>Total</h4>
                        <div class="row">
                            <div class="col s3">Total:</div>
                            <div class="col s3">$1.00</div>
                        </div>
                        <div class="row">
                            <div class="col s3">Tax:</div>
                            <div class="col s3">$1.00</div>
                        </div>
                        <div class="row">
                            <div class="col s3">Subtotal:</div>
                            <div class="col s3">$1.00</div>
                        </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Back</a>
                <button href="#!" class="waves-effect waves-red btn red" action="/checkout">Checkout</button>
            </div>

        </div>

        <h1>CHECKOUT</h1>
        <div class="row">
            <div class="col s9">
                <div class="input-field col s6">
                    <input name="add_item_field" type="text" class="validate"></input>
                </div>
                <div class="col s3">
                    <button class="btn waves-effect waves-light" id="memes" name="add_item_button">
                        <i class="material-icons">add</i>
                    </button>
                </div>
                <form id="checkout">
                    <ul class="list-group">
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Qty</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <div id="checkout-list">
                                <tr th:each="myCart : ${cart}">
                                    <li class="list-group-item">

                                        <tbody>
                                            <tr>
                                                <div th:if="${myCart != null}">
                                                    <td th:text="${myCart.id}"></td>
                                                    <td th:text="${myCart.name}"></td>
                                                    <td th:text="${myCart.designer}"></td>
                                                </div>
                                                <div th:unless="${myCart == null}">
                                                </div>
                                                <td><a class="btn-floating grey waves-red"><i class="material-icons">delete_forever</i></a></td>
                                            </tr>
                                        </tbody>
                            </div>
                        </table>
                        </li>
                        </tr>

                    </ul>

                </form>
                <button class="btn-large waves-effect waves-light red modal-trigger" href="#total"><i class="material-icons left">attach_money</i>Checkout</button>

            </div>
            <div class="col s3">
                <a class="waves-effect waves-light btn modal-trigger" href="#catalogue">Catalogue</a>
                <a class="waves-effect waves-light btn modal-trigger" href="#discounts">Discounts</a>
            </div>
        </div>
    </div>

</body>
<footer>
    <script type="text/javascript">
        $(document).ready(function() {
            $("button[name='add_item_button']").click(function() {
                alert($("input[name='add_item_field']").val());
                var newItem = `
            <text="beep"/>

            `
                $("checkout-list").append(newItem); // Append new elements
            });

        });
    </script>

</footer>

</html>
